@if(currentRoute==='home'){

<div class="main">
    <img src="../../assets/logo.png" alt="logo" class="logo">
</div>
}

@if(currentRoute !=='home'){
<div class="cover-div">

    <div class="main-2">
        <img src="../../assets/logo.png" alt="logo" class="logo-browse">
        <div class="hamburger" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu" [ngClass]="{ 'show-menu': menuOpen }">
            <div class="left-div">
                <p (click)="goToBrowse()">{{'header.browse' | translate}}</p>
            </div>
            <div class="right-div">
                <form [formGroup]="myForm">
                    <div class="search-div">
                        <input type="text" [placeholder]="'header.search_placeholder' | translate"
                            formControlName="search" (keyup.enter)="onSubmit()">
                        <img src="../../assets/icons/search-icon.svg" (click)="onSubmit()" alt="">
                    </div>
                </form>
                <div class="custom-dropdown" [ngClass]="{ 'open': isOpen }" (clickOutside)="closeDropdown()">
                    <div class="selected-option" (click)="toggleDropdown()">
                        {{ selectedLanguage || 'Select Language' }}
                        <span class="arrow" [ngClass]="{ 'up': isOpen }"></span>
                    </div>
                    @if (isOpen) {
                    <ul class="dropdown-options">
                        @for (lang of languages; track $index) {
                        <li (click)="selectLanguage(lang)">
                            {{ lang }}
                        </li>
                        }
                    </ul>
                    }
                </div>
                <button type="button" class="log-out-button" (click)="logout()">{{'header.log_out' |
                    translate}}</button>

            </div>
        </div>
    </div>
</div>
}