@if(currentRoute==='home'){

<div class="main">
    <img src="../../assets/logo.png" alt="logo" class="logo">
</div>
}

@if(currentRoute !=='home'){
<div class="cover-div">

    <div class="main-2">
        <img src="../../assets/logo.png" alt="logo" class="logo-browse">
        <div class="hamburger" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu" [ngClass]="{ 'show-menu': menuOpen }">
            <div class="left-div">
                <p [routerLink]="'/browse'">Browse</p>
            </div>
            <div class="right-div">
                <form [formGroup]="myForm">
                    <div class="search-div">
                        <input type="text" placeholder="Search for movies" formControlName="search"
                            (keyup.enter)="onSubmit()">
                        <img src="../../assets/icons/search-icon.svg" (click)="onSubmit()" alt="">
                    </div>
                </form>
                <button type="button" class="log-out-button" (click)="logout()">Log out</button>
            </div>
        </div>
    </div>
</div>
}