<div class="main">
    @if(topRatedMovies.length > 0){
    <p>Top Rated Movies </p>
    <div #swiperContainer class="swiper mySwiper">
        <div class="swiper-wrapper">
            @for (movie of topRatedMovies; track $index) {
            <div class="swiper-slide">
                <div>

                    <img [src]="'https://image.tmdb.org/t/p/w200/' + movie.poster_path"
                        alt="{{ movie.title || movie.name }}">
                </div>
            </div>
            }
        </div>
    </div>
    }
</div>