<div class="cover">
    <div class="cover-div">
        @if (searchResults.length > 0) {

        <cdk-virtual-scroll-viewport itemSize="500" class="main" (scrolledIndexChange)="onScroll()">
            @for (movie of searchResults; track $index) {
            @if (movie.poster_path) {
            <div class="movie-card" (click)="onMovieSelect(movie)" (keydown.enter)="onMovieSelect(movie)" tabindex="0">
                <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" alt="{{ movie.title }} poster" />
            </div>
            }
            }
        </cdk-virtual-scroll-viewport>

        }@else {
        <div class="not-found">
            <h2>{{'search.not_found' | translate}} "{{query}}"</h2>
        </div>
        }
    </div>
</div>

@if (selectedMovie) {
<app-movie-modal [movie]="selectedMovie" [genres]="genres" [cast]="cast" (closeModal)="closeModal()">
</app-movie-modal>
}