<div class="modal-overlay" (click)="onClose()"></div>
<div #modal class="modal">
    <button class="close-button" (click)="onClose()"><img src="../../assets/icons/close-icon.svg" alt=""></button>



    @if (movie.trailerUrl) {
    <div>
        <iframe [src]="movie.trailerUrl | safeurl" width="100%" height="315" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    }@else {
    <div class="img-div">
        <img class="movie-img" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            alt="{{ movie.title }} poster" />
    </div>
    }
    <div class="details-encapsulation">
        <h2>{{ movie.title }}</h2>
        <div class="details-div">
            <div class="details">
                <p><strong>{{'modal.release_date' | translate}}</strong> {{ movie.release_date }}</p>
                <p><strong>{{'modal.description' | translate}}</strong> {{ movie.overview }}</p>
            </div>

            <div class="genres-cast">
                @if (genres.length > 0) {
                <div>
                    <p><strong>{{'modal.genres' | translate}}</strong> {{ genres.join(', ') }}</p>
                </div>
                }
                @if (cast.length > 0) {
                <div>
                    <p><strong>{{'modal.cast' | translate}}</strong> {{ castList }} ...</p>
                </div>
                }

            </div>
        </div>

        <div class="similar-movies">
            <h3>{{'modal.similar_movies' | translate}}</h3>
            <div class="similar-movie-list">
                @for (similarMovie of similarMovies; track $index) {

                <div class="similar-movie-item" (click)="selectMainMovie(similarMovie)">
                    <img [src]="'https://image.tmdb.org/t/p/w200' + similarMovie.poster_path" [alt]="similarMovie.title"
                        class="similar-movie-poster" />
                    <div class="similar-description">
                        <p class="truncate">{{ similarMovie.overview }}</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>