<div class="main">
    @if (selectedMovieVideo) {

    <div class="video-container">
        <iframe [src]="selectedMovieVideo | safeurl" frameborder="0" allowfullscreen>
        </iframe>
    </div>
    }

    @if(trendingMovies.length > 0){
    <p>Trending Movies</p>
    <div #swiperContainer class="swiper mySwiper">
        <div class="swiper-wrapper">
            @for (movie of trendingMovies; track $index) {
            <div class="swiper-slide">
                <div>
                    <img [src]="'https://image.tmdb.org/t/p/w200/' + movie.poster_path"
                        alt="{{ movie.title || movie.name }}">
                </div>
            </div>
            }
        </div>
    </div>
    }
</div>






<!-- 


@if(trendingMovies.length > 0){
<div>
    <h1>Trending Movies ({{period}})</h1>
    @for (movie of trendingMovies; track $index) {
    <div>
        <p>{{movie.title || movie.name}}</p>
        <img [src]="'https://image.tmdb.org/t/p/w200/' + movie.poster_path" alt="{{ movie.title || movie.name }}">
    </div>
    }
</div>
}

@if (trendingMovies.length===0) {
<p>Loading trending data...</p>
} -->