<div class="main">
    @if (selectedMovieVideo) {

    <div class="video-container">
        <iframe [src]="selectedMovieVideo | safeurl" frameborder="0" allowfullscreen>
        </iframe>
    </div>
    }

    @if(trendingMovies.length > 0){
    <p>{{'browse.trending' | translate}}</p>
    <div #swiperContainer class="swiper mySwiper">
        <div class="swiper-wrapper">
            @for (movie of trendingMovies; track $index) {
            <div class="swiper-slide" (click)="onMovieClick(movie)">
                <div>
                    <img [src]="'https://image.tmdb.org/t/p/w200/' + movie.poster_path"
                        alt="{{ movie.title || movie.name }}">
                </div>
            </div>
            }
        </div>
    </div>
    }
</div>


@if(selectedMovie){
<app-movie-modal [movie]="selectedMovie" [genres]="genres" [cast]="cast" (close)="closeModal()">

</app-movie-modal>
}