@if (currentRoute !== 'home') {
<div class="footer-cover">
    <div class="footer-div">
        <div class="footer-main">
            <div class="footer-col">
                <div class="img-div">
                    <img src="../../../assets/icons/facebook.svg" alt="">
                    <img src="../../../assets/icons/instagram.svg" alt="">
                    <img src="../../../assets/icons/youtube.svg" alt="">
                </div>
                <p>{{'footer.audio' | translate}}</p>
                <p>{{'footer.investor_relations' | translate}}</p>
                <p>{{'footer.legal' | translate}}</p>
            </div>
            <div class="footer-col">
                <p>{{'footer.help' | translate}}</p>
                <p>{{'footer.jobs' | translate}}</p>
                <p>{{'footer.cookie' | translate}}</p>
            </div>

            <div class="footer-col">
                <p>{{'footer.gift_cards' | translate}}</p>
                <p>{{'footer.terms' | translate}}</p>
                <p>{{'footer.corporate' | translate}}</p>
            </div>
            <div class="footer-col">
                <p>{{'footer.media' | translate}}</p>
                <p>{{'footer.privacy' | translate}}</p>
                <p>{{'footer.contact' | translate}}</p>
            </div>
        </div>

        <h5>© 1997-2023 Netflix, Inc.</h5>
    </div>
</div>

}