.cover {
    display: flex;
    justify-content: center;

}

.cover-div {
    max-width: 1550px;
}


.main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 29px;
    row-gap: 29px;
    padding: 120px 48px 0 48px;
}

.movie-card {
    max-width: 175px;
    color: white;
}

.movie-card img {
    width: 175px;
    height: auto;
    border-radius: 5px;
}

.not-found {
    width: 100%;
    color: white;
    margin: 350px 0;
}

@media only screen and (max-width: 768px) {
    .main {
        padding: 120px 16px 0 16px;
        column-gap: 15px;
        row-gap: 15px;
        justify-content: center;
    }

    .movie-card {
        max-width: 130px;
        color: white;
    }

    .movie-card img {
        width: 130px;
        height: auto;
        border-radius: 5px;
    }

    .not-found {
        margin: 350px 0 250px 0;
        padding: 0 16px;
        text-align: center;
    }
}