.cover {
    display: flex;
    justify-content: center;

}

.cover-div {
    max-width: 1550px;
    width: 100%;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 29px;
    row-gap: 29px;
    /* padding: 120px 48px 0 48px; */
    height: 85vh;
    width: 100%;
    overflow: auto;
    margin: 91px 47px 0 48px;


    &::-webkit-scrollbar {
        display: none;
    }
}

::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 29px;
    row-gap: 29px;
}


.movie-card {
    max-width: 175px;
    color: white;
}

.movie-card img {
    width: 175px;
    height: auto;
    border-radius: 5px;
}

.not-found {
    width: 100%;
    color: white;
    margin: 350px 0;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .main {
        padding: 120px 16px 0 16px;
        margin: 92px 0 0 0;
        height: 81vh;
    }

    ::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 15px;
        justify-content: center;
    }

    .movie-card {
        max-width: 130px;
        color: white;
    }

    .movie-card img {
        width: 130px;
        height: auto;
        border-radius: 5px;
    }

    .not-found {
        margin: 350px 0 250px 0;
        padding: 0 16px;

    }
}