.cover {
    display: flex;
    justify-content: center;

}

.cover-div {
    max-width: 1550px;
    width: 100%;
    padding: 91px 47px 0 48px;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 29px;
    row-gap: 29px;
    height: 85vh;
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 29px;
    row-gap: 29px;
}


.movie-card {
    max-width: 183px;
    color: white;
    cursor: pointer;
}

.movie-card img {
    width: 183px;
    height: auto;
    border-radius: 5px;
}

.not-found {
    width: 100%;
    color: white;
    margin: 350px 0;
    text-align: center;
}

@media only screen and (max-width: 1600px) {
    .cover-div {
        padding: 91px 27px 0 27px;
    }

    .main {
        height: 81vh;
    }

    ::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
    }

    .movie-card {
        max-width: 192px;
    }

    .movie-card img {
        width: 192px;
    }
}

@media only screen and (max-width: 1518px) {
    .movie-card {
        max-width: 186px;
    }

    .movie-card img {
        width: 186px;
    }

}

@media only screen and (max-width: 1476px) {
    .movie-card {
        max-width: 180px;
    }

    .movie-card img {
        width: 180px;
    }
}

@media only screen and (max-width: 1433px) {
    .movie-card {
        max-width: 174px;
    }

    .movie-card img {
        width: 174px;
    }
}

@media only screen and (max-width: 1392px) {
    .movie-card {
        max-width: 168px;
    }

    .movie-card img {
        width: 168px;
    }
}

@media only screen and (max-width: 1350px) {
    .movie-card {
        max-width: 160px;
    }

    .movie-card img {
        width: 160px;
    }
}

@media only screen and (max-width: 1294px) {
    .movie-card {
        max-width: 152px;
    }

    .movie-card img {
        width: 152px;
    }
}

@media only screen and (max-width: 1238px) {
    .movie-card {
        max-width: 145px;
    }

    .movie-card img {
        width: 145px;
    }
}

@media only screen and (max-width: 1189px) {
    .movie-card {
        max-width: 164px;
    }

    .movie-card img {
        width: 164px;
    }
}

@media only screen and (max-width: 1138px) {
    .movie-card {
        max-width: 154px;
    }

    .movie-card img {
        width: 154px;
    }
}

@media only screen and (max-width: 1078px) {
    .movie-card {
        max-width: 145px;
    }

    .movie-card img {
        width: 145px;
    }
}

@media only screen and (max-width: 1024px) {
    .movie-card {
        max-width: 137px;
    }

    .movie-card img {
        width: 137px;
    }
}

@media only screen and (max-width: 976px) {
    .movie-card {
        max-width: 129px;
    }

    .movie-card img {
        width: 129px;
    }
}


@media only screen and (max-width: 768px) {
    .cover-div {
        padding: 92px 0 0 0;
    }

    .main {
        padding: 120px 16px 0 16px;
        height: 81vh;
    }

    ::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 15px;
        justify-content: center;
    }

    .movie-card {
        max-width: 130px;
        color: white;
    }

    .movie-card img {
        width: 130px;
        height: auto;
        border-radius: 5px;
    }

    .not-found {
        margin: 350px 0 250px 0;
        padding: 0 16px;

    }
}